{% extends "layout_auth.html" %}
{% block title %} Início {% endblock %}

{% block body %}

{% if message %}

<div class="msg_error">
    <p> {{message}} </p>
</div>

{% endif %}

<h3>WELCOME, {{user_info.email}} </h3>


{% if user_info.email == email_manager %}

    <button><a href="{% url 'register_auth'%} ">Register administrador</a></button>

{% else %}


{% endif %}

<button><a href="{% url 'view_users'%} ">Utilizadores</a></button>

<button><a href="{% url 'logout_auth'%} ">Logout</a></button>
<!-- <button><a href="{% url 'upload_file'%} ">Update file</a></button> -->


{% endblock %}
