{% extends "layout_main.html" %}
{% block title %} Cadastro de utilizador {% endblock %}

{% block body %}

<h1>LOGIN USER</h1>

<form action="{% url 'users_view' %}" method="POST">

    {% if message %}

    <div class="msg_error">
        <p> {{message}} </p>
    </div>

    {% endif %}

    {% csrf_token %}

    <div class="form">
        <br>
        <div class="email">
            <input type="email" name="email" id="email" placeholder="Email" required>
        </div>
        <br>
        <div class="password">
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <br>
        <div class="submit">
            <input type="submit" value="Entrar">
        </div>
        <br>
    </div>
    </form>

<div class="previous">
    <a href="{% url 'index'%} ">Voltar</a>
</div>


<br>
<br>
{% endblock %}