{% extends "layout_auth.html" %}
{% block title %} Registrar admin {% endblock %}

{% block body %}

<h1>REGISTER AUTH</h1>

<form action="{% url 'register_auth' %}" method="POST">

    {% if message %}

    <div class="msg_error">
        <p> {{message}} </p>
    </div>

    {% endif %}

    {% csrf_token %}

    <div class="form">

        <div class="email">
            <input type="email" name="email" id="email" placeholder="Email" required>
        </div>

        <div class="password">
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>

        <div class="password">
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar Password"
                required>
        </div>

        <div class="submit">
            <input type="submit" value="Entrar">
        </div>
<br>

    </div>

</form>


<div class="previous">
    <a href="{% url 'index_auth' %}">Voltar</a>
</div>

{% endblock %}